.landing {
    background-image: linear-gradient(270deg,#e9dfff -43.12%,#fff 121.3%);
    img {
        filter: drop-shadow(0 25px 25px rgba(0,0,0,.15));
    }
    .gradient-text {
        background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}